.content{
    display: flex;
    justify-content: space-around; 
    /* flex-direction: column-reverse; */
    }
    .settings{
        width: 25%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins", sans-serif;
        font-weight: 30;
        /* margin-bottom: 20rem; */
    }
    .banner{
        width: 55%;
        align-self: center;
        padding: 8px;
    }
    @media (max-width:800px){
        .content{
            flex-direction: column-reverse;
            align-items: center;
        }
        .banner{
            width: 85%;
            padding: 0;
            padding-top: 20px;
        }
        .settings{
            width: 100%;
        }
    }
    .settings_select{
        display: flex;
        flex-direction: column;
    }